* {
  font-family: 'Encode Sans', sans-serif;
  margin: 0;
}

body {
  background: #f1faee;
  color: #1d3557;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
}

.title {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: #e63946;
}

.textareaContainer,
.dateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
}

@media screen and (max-width: 640px) {
  .textareaContainer,
  .dateContainer {
    flex-direction: column;
  }
}

label {
  font-weight: bold;
  text-align: center;
}

input {
  border-width: 1px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  color: #1d3557;
  border-color: #1d3557;
  border-width: 2px;
  margin-right: 10px;
}

textarea {
  border-radius: 5px;
  color: #1d3557;
  border-color: #1d3557;
  border-width: 2px;
}

.btn {
  border: none;
  background: #f1faee;
  color: #e63946;
  border: 2px solid #e63946;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  background: #e63946;
  color: #f1faee;
  border: 2px solid #e63946;
  cursor: pointer;
}

#instructionBtn {
  margin-top: 30px;
}

.message {
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  max-height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.instructionContainer {
  display: flex;
  background: white;
  margin: 4rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  gap: 10px;
  border: 2px solid #1d3557;
  border-radius: 5px;
}
img {
  border: 2px solid black;
  object-fit: cover;
  max-width: 70%;
  height: auto;
}
a {
  text-decoration: underline;
  font-weight: bold;
  color: #e63946;
}
a:visited {
  color: #e63946;
}

.highlight {
  font-weight: bold;
  color: #e63946;
}

p {
  text-align: center;
}
